@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  --color-LightBlue: #a9def9;
  --color-WhiteBlue: #f3f7fb;
  --color-CoolGrey: #8897ad;
  --color-LightRed: #ff5a60;
  --color-Black: #0f191a;
  --color-IceBlue: #f1faff;
  --color-SkyBlue: #54c5ff;
  --color-LightGray: #d9d9d9;
  --color-CharcoalBlue: #27364b;
  --color-SteelBlueGray: #4b5669;
  --color-White: #fff;
  --color-LightYellow: #ffee93;
}
